* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
.container {
    width: 90%;
    margin:  0 auto;

}


header,footer {
    background-color: #282829;
    padding-top:15px;
    padding-bottom: 15px;
}



.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 ul{
    display: flex;
    color:#fff;
    text-decoration:none;
    gap:30px;
    list-style-type: none;
}

.nav li a {
    text-decoration: none;
    color: #fff;
}

.nav li a:hover {
    color :dodgerblue;
    font-size: 18px;
}

.flex-section {
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 114px;
    padding-bottom: 114px;
}
h1 {
    text-align: center;
    font-size: 88px;
    font-weight: 500;
     font-family:monospace;
     margin-top: 114px;
     margin-bottom: 114px;
}


.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 102px;

}
.card {
    width: 393px;    
   


}

.card h3 {
    width: 393px;    
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-top:30px;
    margin-bottom: 10px;
}

.card p {
   
font-size: 14px;
font-weight: 400;
line-height: 23px;
text-align: center;
color: rgba(0, 0, 0, 1);

}

